html {
  scroll-behavior: smooth;
}

#home-section {
  background: url(/img/buildings-clouds-dawn-594226.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .home-inner {
  padding-top: 200px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}

.carousel-item {
  height: 700px;
}

.carousel-image-1 {
  background: url('/img/adult-beach-casual-736716.jpg');
  background-size: auto;
}

.carousel-image-2 {
  background: url('/img/advertising-black-and-white-brand-1498929.jpg');
  background-size: auto;
}

.carousel-image-3 {
  background: url('../img/image3.jpg');
  background-size: auto;
}
